body  
{
    font-family: Inter, Arial, Helvetica, sans-serif;
}

header 
{
    background-color: #aaaaaa;
    padding: 30px 10px 10px 0px;
}

header h1 a 
{
    background: url("../assets/h1_display_hover.png") no-repeat;
    display: block;
    width: 150px;
    height: 50px;
    padding-left: 60px;
    /* text style*/
    color: #737373;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    text-decoration: none;
    float: left;
    margin-bottom: 30px;
}

header h1 a:hover 
{
    background: url("../assets/h1_display_hover.png") no-repeat;
    color: #00CD6B;
}

nav#social 
{
    float: right;
}

nav#social ul li
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

nav#social ul li a
{
    display: block;
    float: left;
    width: 34px;
    height: 34px;
    text-indent: -99999px;
    margin-right: 5px;
}

nav#social ul li a#twitter
{
    background: url("../assets/twitter.png") no-repeat;
}

nav#social ul li a:hover#twitter
{
    background: url("../assets/twitter_hover.png") no-repeat;
}

nav#social ul li a#facebook
{
    background: url("../assets/facebook.png") no-repeat;
}

nav#social ul li a:hover#facebook
{
    background: url("../assets/facebook_hover.png") no-repeat;
}

nav#social ul li a#google
{
    background: url("../assets/google.png") no-repeat;
}

nav#social ul li a:hover#google
{
    background: url("../assets/google_hover.png") no-repeat;
}

nav#social ul li a#rss
{
    background: url("../assets/rss.png") no-repeat;
}

nav#social ul li a:hover#rss
{
    background: url("../assets/rss_hover.png") no-repeat;
}

nav#social ul li a#pinterest
{
    background: url("../assets/pinterest.png") no-repeat;
}

nav#social ul li a:hover#pinterest
{
    background: url("../assets/pinterest_hover.png") no-repeat;
}

nav#social ul li a#dribbble
{
    background: url("../assets/dribbble.png") no-repeat;
}

nav#social ul li a:hover#dribbble
{
    background: url("../assets/dribbble_hover.png") no-repeat;
}

nav#main
{
    clear: both;
    border-top: #737373 solid 2px;
}

nav#main ul
{
    margin: 0;
    padding: 0;
}

nav#main ul li
{
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

nav#main ul li a
{
    display: block;
    float: left;
    margin: 25px 5px 10px 10px;
    color: #747474;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

nav#main ul li a:hover
{
    color: #00CD6B;
}

section#banner
{
    clear: both;
    padding-top: 117px;
    background: url("../assets/bg_banner.png") no-repeat top center;
    text-align: center;
}

section#banner img
{
    width: 830px;
    height: 472px;
}

@media only screen and (max-width: 768px) 
{
    header
    {
        padding: 0 0 0 0;
    }

    section#banner
    {
        padding-top: 40px;
    }

    section#banner img
    {
        width: 100%;
        height: auto;
    }
}